{% load static %}
{% block body_block %}
<div id="push-rels" class="container-fluid p-3" style="font-family: inherit;">
    <h4 style="color: black;">
        Are there noticeable links between the perpetrators and their victims?</h4>
    <p>
        Using network analysis, the accounts posting comments or replies to each 
        gender were mapped out by strategic density comparison. 
        The diagram below shows the differential variation in 
        responses to the two genders. 
    </p>
    <p>
        It is evident that densely populated cluster (at 0.68 square inches)
        represents the female victims in this scenario while the remainder (at 0.32 square inches) 
        represent male victims. This visualisation evidences the fact that the females are 
        major victims to online targeted violence.
    </p>
    <!---
    <div class="text-right">
        <button class="btn btn-sm my-btn" 
            style="background-color:#f89624;">Genders</button>
        <button class="btn btn-sm ml-0 my-btn" 
            style="background-color:#822600;color:#b3b3b3;">Sources</button>
    </div>
    --->
    <div class="row">
        <div class="col-sm-10">
            <img src="{% static 'images/networkgraph.png' %}" width="100%">
        </div>
        <div class="col-sm-2 card card-body mt-2" style="font-size:12px;height:fit-content;">
            <div class="mb-2">
                <img id="pollicy-small-logo" 
                    src="{% static 'images/logo.png' %}" width="50px" height="32px" alt="logo image">
            </div>
            <p class="card-header">
                Gendered Network Visualisation
                Showing Large Bias Toward Female-Targeted Online Violence.
            </p>
            <p class="p-2"> 
            • It is evident that densely populated cluster (at 0.68 sq-inch)
            represents the female victims in this scenario while the 
            remainder only represent male victims (at 0.32 sq-inch). 
            </p>
            <span class="p-2" style="font-weight: bold; text-decoration: underline;">Legend:</span>
            <span class="p-2">• Male and Female Gender Categories.</span>
        </div>
    </div>
    <p class="p-2 mt-3 mb-1" 
        style="background-color:#b3b3b3;width:fit-content;border-radius:6px;font-weight:bold;">
        Note:
        As part of this project, a text classification model was used to classify tweets/posts 
        in various categories such as: Trolling, Sexual violence, Insults, etc. 
        <a style="color: inherit;" href="{% url 'pollicy_app:hate_speech' %}">
            This model can be tested out here!</a>
    </p>
    </div>
    </div>
</div>
{% endblock %}