<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, 
        shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="#">
        <title>Pollicy- 
        {% block title_block %}
        {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/typingeffect.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/animechart.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyles.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
            crossorigin="anonymous">
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
    </head>
    <body>
        {% block body_block %}
        {% endblock %}
        <script src="{% static 'js/typingscript.js' %}"></script>
        <script src="{% static 'js/animescript.js' %}"></script>
        <script src="{% static 'js/countup.js' %}"></script>
        <script src="{% static 'js/navbarscript.js' %}"></script>
        <script src="{% static 'js/jquery.sparkline.min.js' %}"></script>
        <script src="{% static 'js/myscripts.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{% static 'js/mycharts.js' %}"></script>
    </body>
</html>