<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, 
        shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="#">
        <title>Pollicy- 
        {% block title_block %}
        {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/typingeffect.css' %}">
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
    </head>
    <body>
        {% block body_block %}
        {% endblock %}
        <script src="{% static 'js/typingscript.js' %}"></script>
    </body>
</html>