{% extends 'pollicy_app/base.html' %}
{% load static %}
{% block title_block %}
| Findings
{% endblock %}

{% block body_block %}
<div id="push-findings" class="container-fluid row key-finding p-4 mx-auto">
    <div class="col-sm">
        <img class="geek-img" src="{% static 'images/fnd-md.png' %}" width="100%">
    </div>
    <div class="col-sm">
        <h4 class="card card-title">FINDINGS FROM THE STUDY REVEALED THE FOLLOWING.</h4>
        <ul class="card card-body" style="background-color: #f5f4f4;">
            <li>
                The use of social media platforms for engaging with voters and constituents 
                by women politicians remains low in Uganda. On Twitter, men candidates generated 
                twice as many tweets averaging 31 total tweets and replies per account during December 
                compared to their women counterparts at 14.
            </li>
            <li>
                Women politicians in Uganda prefer using Facebook compared to Twitter for engaging 
                with voters; 68% of women's Facebook accounts monitored were used at least once a week 
                during the campaigns compared to 50% of men's Facebook accounts.
            </li>
            <li>
                Women politicians were more likely to experience OVAW-P on Twitter as compared to 
                Facebook.
            </li>
            <li>
                Men and women experience online violence differently. Women are more likely to experience 
                trolling, sexual violence, and body shaming. Men are more likely to experience hate 
                speech and satirical comments; 18% of the accounts belonging to women experienced sexual 
                violence compared to 8% of those belonging to men.
            </li>
        </ul>
    </div>
</div>

{% endblock %}