{% extends 'pollicy_app/base.html' %}
{% load static %}
{% block title_block %}
| Findings
{% endblock %}

{% block body_block %}
<div id="push-findings" class="container-fluid row key-finding p-4 mx-auto">
    <div class="col-sm">
        <img class="geek-img custom-img2" src="{% static 'images/Byte_Bully_1.png' %}" width="100%">
    </div>
    <div class="col-sm">
        <h4 class="card card-title">FINDINGS FROM THE STUDY REVEALED THE FOLLOWING</h4>
        <ul class="card card-body" style="background-color: #f5f4f4;">
            <li>
                The use of social media platforms for engaging with voters and constituents by women 
                politicians remains low in Kenya. 93 percent of the accounts belonging to men candidates 
                were used at least once during 2022 on Facebook compared to 80 percent of the women 
                politicians' accounts. 
                On Twitter, 49 percent of accounts belonging to women had less than 5 tweets a month during 
                the campaign period.
            </li>
            <li>
                OVAWP was more prevalent among women candidates than men, especially on Twitter where 
                2 out of 5 women's Twitter accounts monitored experienced sexual harassment.
            </li>
            <li>
                The attacks against Kenyan women politicians were often focused on personal and sexual 
                aspects rather than policies or qualifications.
            </li>
            <li>
                The cultural and traditional barriers that limit women's participation in politics contributed
                to online violence, and factors such as age and party affiliation also made women more 
                vulnerable to harassment and abuse.
            </li>
        </ul>
    </div>
</div>

{% endblock %}