{% extends 'pollicy_app/base.html' %}
{% load static %}
{% block title_block %}
 Index
{% endblock %}

{% block body_block %}
<div class="typo-div container-fluid">
    <div class="logo container">
        <img src="{% static 'images/logo.png' %}" 
            width="125px" height="60px" alt="logo image">
    </div>
    <div class="output container" id="output">
        <h1 class="typo-header"></h1>
        <p class="typo"></p>
        <span class="typo"></span>
    </div>
    <div class="scroll-div text-center container">
        <img class="scroll-img" src="{% static 'images/Scroll_icon.png' %}"
            width="60px">
    </div>
</div>
<div class="index-content container-fluid anime-charts box-piesite">
    <ul>
        <li class="design">
            <div class="piesite" id="pie_0" data-pie="75"></div>
            <div class="metrics-desc">Social Media Accounts
                <br>Tracked</div>
        </li>
        <li class="usability">
            <div class="piesite" id="pie_2" data-pie="89"></div>
            <div class="metrics-desc">Accounts Actively Used
                <br>in Campaigns</div>
        </li>
        <li class="creativity">
            <div class="piesite" id="pie_1" data-pie="250"></div>
            <div class="metrics-desc">Twitter Replies
                <br>Analyzed</div>
        </li>
        <li class="adaptability">
            <div class="piesite" id="pie_3" data-pie="150"></div>
            <div class="metrics-desc">Facebook Comments
                <br>Analyzed</div>
        </li>
    </ul>
</div>
{% endblock %}