{% extends 'pollicy_app/base.html' %}
{% load static %}
{% block title_block %}
 Index
{% endblock %}

{% block body_block %}
<div class="typo-div container-fluid">
    <div class="logo container">
        <img class="geek-img" src="{% static 'images/logo.png' %}" 
            width="125px" height="60px" alt="logo image">
    </div>
    <div class="output container" id="output">
        <h1 class="typo-header"></h1>
        <p class="typo"></p>
        <span class="typo"></span>
    </div>
    <div class="scroll-div text-center container">
        <img id="scroll-img" class="scroll-img" 
            src="{% static 'images/Scroll_icon.png' %}"
            width="60px">
    </div>
</div>
<div class="index-content container-fluid anime-charts box-piesite">
    <ul>
        <li class="design">
            <div class="piesite" id="pie_0" data-pie="66"></div>
            <div class="metrics-desc">Social Media
                <br>Accounts Monitored</div>
            <span style="color: navy; 
                        background-color: orange; 
                        padding: 2px;
                        border: 2px ridge white;" 
                class="num text-center" data-val="202">000
            </span>
        </li>
        <li class="usability">
            <div class="piesite" id="pie_2" data-pie="85"></div>
            <div class="metrics-desc">Accounts Actively
                <br>Used in Campaigns</div>
            <span style="color: white; 
                    background-color: rgb(31, 53, 2); 
                    padding: 2px;
                    border: 2px ridge white" 
                class="num text-center" data-val="180">000
            </span>
        </li>
        <li class="creativity">
            <div class="piesite" id="pie_1" data-pie="79"></div>
            <div class="metrics-desc">Twitter Replies
                <br>Collected</div>
            <span style="color: yellow; 
                    background-color: rgb(53, 35, 47); 
                    padding: 2px;
                    border: 2px ridge white;" 
                class="mynewnum text-center" data-val="298571">000
            </span>
        </li>
        <li class="adaptability">
            <div class="piesite" id="pie_3" data-pie="94"></div>
            <div class="metrics-desc">Facebook Comments
                <br>Collected</div>
            <span style="color: maroon; 
                    background-color: darkgrey; 
                    padding: 2px;
                    border: 2px ridge white;" 
                class="newnum text-center" data-val="70006">000
            </span>
        </li>
    </ul>
</div>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(0, 83, 109);
            border: 2px solid rgb(0, 83, 109);">
    <a class="navbar-brand" href="#"><i class="far fa-compass" style="color: orange"></i>
        Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            Navigate Sections
            <span class="badge" 
                style="color: maroon; 
                    background-color: darkkhaki">8</span></a>
        <div class="dropdown-menu" style="background-color: rgb(241, 219, 21);">
            <a class="dropdown-item" href="#">Introduction</a>
            <a class="dropdown-item" href="#">Research Questions</a>
            <a class="dropdown-item" href="#">Key Findings</a>
            <a class="dropdown-item" href="#">Women Using Social Media</a>
            <a class="dropdown-item" href="#">Social Media Response</a>
            <a class="dropdown-item" href="#">Evidence of OVAW-P</a>
            <a class="dropdown-item" href="#">OVAW-P vs Other Factors</a>
            <a class="dropdown-item" href="#">Apparent Relationships</a>
        </div>
    </li>
    </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
        <a class="nav-link" href="#">Hate Speech Classification</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Translation</a>
        </li>
    </ul>
</nav>
<div class="container-fluid p-4 intro lead">
    <p class="mb-1">
        The growth of internet users has brought about social and economic benefits on a global scale. 
        However, significant harms such as online violence, disinformation, and hate speech have also 
        proliferated in these online spaces. 
        Discriminatory gendered practices are shaped by social, economic, cultural, and political structures 
        in the physical world and are similarly reproduced online across digital platforms.
    </p> 
    <p class="mb-1">
        Uganda, too, has experienced rising rates of online harassment targeting both women in public 
        life as well as everyday users.
        Online violence manifests during periods of political activity, and, when directed at 
        women in public life and political discourse, is an example of Violence Against Women in 
        Politics (VAW-P) (NDI, 2019). It is, therefore, referred to as<span class="intro-span"> 
        Online Violence Against Women in Politics (OVAW-P)</span>.
    </p>
    <p class="mb-1">
        In order to understand how this report sought to identify and analyze the scale of online 
        violence targeted at women political candidates and high-profile individuals during the 
        January 2021 General Election in Uganda. 
        The report also sought to determine how this online harassment might impact their use of social 
        media platforms for political activity during the elections.
    </p>
    <p class="mb-1">
        For this purpose, we identified and monitored the accounts of 152 nominated candidates and 
        50 high-profile individuals during the campaign and election period on the two most widely 
        used public platforms, Facebook and Twitter. Methodologies used include lexicon building focus 
        group discussions, data scraping of publicly available profiles, qualitative data analysis, 
        and development of a Machine Learning (ML) model to identify and tag instances of OVAWP in 
        both English and Luganda.
    </p>
</div>
<div class="container-fluid row res-obj p-4 mx-auto">
    <div class="col-sm">
        <h4 class="card card-title" style="border: 1px solid white;">
            RESEARCH QUESTIONS USED TO GUIDE TOWARDS ACHIEVING THE RESEARCH OBJECTIVE.</h4>
        <ul class="card card-body">
            <li>
                How do women politicians in Uganda use social media platforms for campaigning 
                during the scientific general elections?
            </li>
            <li>
                How does the use of social media platforms differ amongst men and women candidates?
            </li>
            <li>
                How does online violence against women candidates differ from that experienced 
                by men in regards to factors such as the form of violence experienced and frequency 
                across platforms?
            </li>
            <li>   
                What evidence of OVAW-P exists on social media platforms and how does it manifest?
            </li>
            <li>
                What is the association between OVAW-P and factors such as their age, political party 
                affiliation, frequency of social media use and electoral results?
            </li>
        </ul>  
    </div>
    <div class="col-sm text-center">
        <img class="geek-img" src="{% static 'images/qn-md.png' %}" width="80%">
    </div>
</div>
<div class="container-fluid row key-finding p-4 mx-auto">
    <div class="col-sm">
        <img class="geek-img" src="{% static 'images/fnd-md.png' %}" width="95%">
    </div>
    <div class="col-sm">
        <h4 class="card card-title mt-2">FINDINGS FROM THE STUDY REVEALED THE FOLLOWING.</h4>
        <ul class="card card-body" style="background-color: rgb(213, 232, 248);">
            <li>
                The use of social media platforms for engaging with voters and constituents 
                by women politicians remains low in Uganda. On Twitter, men candidates generated 
                twice as many tweets averaging 31 total tweets and replies per account during December 
                compared to their women counterparts at 14.
            </li>
            <li>
                Women politicians in Uganda prefer using Facebook compared to Twitter for engaging 
                with voters; 68% of women's Facebook accounts monitored were used at least once a week 
                during the campaigns compared to 50% of men's Facebook accounts.
            </li>
            <li>
                Women politicians were more likely to experience OVAW-P on Twitter as compared to 
                Facebook.
            </li>
            <li>
                Men and women experience online violence differently. Women are more likely to experience 
                trolling, sexual violence, and body shaming. Men are more likely to experience hate 
                speech and satirical comments; 18% of the accounts belonging to women experienced sexual 
                violence compared to 8% of those belonging to men.
            </li>
        </ul>
        <div class="row card card-group mx-auto" 
                style="background-color: rgb(31, 31, 41);">
        <h5 class="card-title col-sm card-hstyle mt-1">
            68% of Women's accounts monitored used Facebook at least once a week; 
            Vs. Men at 50%.
        </h5>
        <div class="col-sm p-1" id="piechart-div1">
        </div>
        <div class="col-sm p-1" id="piechart-div2"></div>
        </div>
    </div>
</div>
<div class="container-fluid women-sm p-4" style="background-color: rgb(179, 219, 241);">
    <h4 class="mb-2">
        How did women politicians in Uganda use social media 
        platforms for campaigning during scientific general elections?
    </h4>
    <div class="row container-fluid">
        <div class="col-sm jumbotron p-2">
            <p>
            Our study found that nine out of every ten (89%) accounts were used to put out at least 
            one tweet/post during the campaign period. Twitter was the most widely used platform 
            with 92% of the candidates using the platform at least once during the monitoring 
            period while Facebook had 86%. 
            </p>
            <p>
            There was a considerable drop in social media usage 
            during the month of January, which is greatly attributable to the internet shutdown in Uganda. 
            In terms of gender, women were most active on Facebook while men dominated usage on Twitter.
            </p>
            <p> 
            At least 69% of the accounts belonging to female candidates 
            on Facebook were used at least once each week compared to the men at 47.5%.
            </p>
        </div>
        <div class="col-sm p-2 text-center"><canvas id="myChart"></canvas>
        <span class="p-2">
            <button class="btn btn-sm btn-secondary chart-btn">
                <i class='fas fa-sync'></i>
                Switch</button>
        </span>
        </div>
    </div>
</div>
<div class="container-fluid social-response p-4">
    <h4 class="mt-2 text-center">
        What sentiments are attached to women's social media posts and how are 
        these sentiments distributed? 
    </h4>
    <div class="row container-fluid">
        <div class="col-sm"></div>
        <div class="col-sm card p-3 mt-2" 
            style="background-color: wheat;">
            <p>
                Using sentiment analysis, the sentiment of the comments and replies 
                from social media users to the candidates was analysed. 
            </p>
            <p>
                According to the data, higher engagement by a candidate group leads to a higher 
                volume of negative comments across both platforms. 
            </p>
            <p>
                On Facebook, women candidates received 77% of negative comments while on Twitter, 
                men candidates received 85.7% of negative replies.
            </p>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
{% endblock %}