{% extends 'pollicy_app/base.html' %}
{% load static %}
{% block title_block %}
    | Dashboard
{% endblock %}

{% block body_block %}
<div class="typo-div container-fluid">
    <div class="logo container-fluid">
        <img id="pollicy-logo" 
            src="{% static 'images/logo.png' %}" width="125px" height="60px" alt="logo image">
    </div>
    <div class="output container" id="output">
        <h1 class="typo-header"></h1>
        <p class="typo"></p>
        <span class="typo"></span>
    </div>
    <div class="scroll-div text-center container">
        <img id="scroll-img" class="scroll-img" 
            style="background-color: #822600;
                border: 2px hidden black;border-radius:5px;padding:2px;"
            src="{% static 'images/Scroll_icon.png' %}"
            width="60px">
    </div>
</div>
<div class="index-content container-fluid anime-charts box-piesite">
    <ul>
        <li class="design">
            <div class="piesite" id="pie_0" data-pie="69"></div>
            <div class="metrics-desc">Social Media
                <br>Accounts Monitored</div>
            <span style="color: black; 
                        background-color: gray; 
                        padding: 2px;
                        border: 2px ridge white;" 
                class="num text-center" data-val="202">000
            </span>
        </li>
        <li class="usability">
            <div class="piesite" id="pie_2" data-pie="85"></div>
            <div class="metrics-desc">Accounts Actively
                <br>Used in Campaigns</div>
            <span style="color: black; 
                    background-color: gray; 
                    padding: 2px;
                    border: 2px ridge white" 
                class="num text-center" data-val="180">000
            </span>
        </li>
        <li class="creativity">
            <div class="piesite" id="pie_1" data-pie="88"></div>
            <div class="metrics-desc">Twitter Replies
                <br>Collected</div>
            <span style="color: black; 
                    background-color: gray; 
                    padding: 2px;
                    border: 2px ridge white;" 
                class="mynewnum text-center" data-val="298571">000
            </span>
        </li>
        <li class="adaptability">
            <div class="piesite" id="pie_3" data-pie="66"></div>
            <div class="metrics-desc">Facebook Comments
                <br>Collected</div>
            <span style="color:black; 
                    background-color: gray; 
                    padding: 2px;
                    border: 2px ridge white;" 
                class="newnum text-center" data-val="70006">000
            </span>
        </li>
    </ul>
</div>
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark" 
            style="background-color:#822600;
            border: 2px solid #822600;">
    <!--Toogle Button, Sidebar-->
    <button type="button" id="sidebarCollapse" class="d-none d-lg-block btn btn-sm"
            style="background-color: #f89624;">
        <i class="fas fa-align-left"></i>
        <span>Toggle Sidebar</span>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'pollicy_app:hate_speech' %}" 
            style="color:white;">Hate Speech Classification</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color:white;">Translation</a>
        </li>
    </ul>
    </div>
</nav>
<div class="row container-fluid">
<nav id="sidebar" class="d-none d-lg-block text-center p-2 col-sm sticky-top"
            style="z-index: 0;">
        <!---Added from main nav-->
        <div class="sidebar-header main-content">
            <h3 style="color:white;">Side Navigation</h3>
        </div>
        <a id="sidebrand" class="navbar-brand" href="#">
            <i class="far fa-compass" style="color: #f89624"></i>
            Dashboard
            <span class="badge badge-light">8</span>
        </a>
        <ul id="sidebar-uls" class="navbar-nav mr-auto">
            <li id="intro-link" class="nav-item">
                <a class="nav-link" href="{% url 'pollicy_app:intro_view' %}">
                Introduction</a>
            </li>
            <li id="research-link" class="nav-item">
                <a class="nav-link" href="{% url 'pollicy_app:research_view' %}">
                    Research Questions</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Key Findings</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Women Using Social Media</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Social Media Response</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Evidence of OVAW-P</a></li>
            <li class="nav-item"><a class="nav-link" href="#">OVAW-P vs Other Factors</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Apparent Relationships</a></li>
        </ul>
        <div class="navbar-nav mr-auto p-2">
            <div class="dropdown">
                <button class="btn btn-sm btn-block dropdown-toggle my-btn"
                        style="background-color: #ebe9e9;"
                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-share" style="color: #822600;"></i> 
                    <span class="h6">Social Share <span class="badge badge-dark">2</span>
                    </span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1"
                    style="background-color: #822600;">
                        <a class="dropdown-item" href="#">Facebook</a>
                        <a class="dropdown-item" href="#">Twitter</a>
                </div>
            </div>
            <a href="#" id="a-download" style="text-decoration: none;">
            <p style="border: 1px solid #b3b3b3;color: white; margin-top: 3px;" 
                class="nav-item">
            <i class="fas fa-download" style="color: #f89624;"></i> 
            <span id="download">Download</span>
            </p>
            </a>
        </div>
</nav>
<div id="main-content" class="main container-fluid p-3 col-sm main-content mt-2">
<div id="intro-div" class="container-fluid p-5 intro lead" 
    style="background-color:rgb(245, 244, 244);width:100%;">
    <p class="mb-2">
        The growth of internet users has brought about social and economic benefits on a global scale. 
        However, significant harms such as online violence, disinformation, and hate speech have also 
        proliferated in these online spaces. 
        Discriminatory gendered practices are shaped by social, economic, cultural, and political structures 
        in the physical world and are similarly reproduced online across digital platforms.
    </p> 
    <p class="mb-2">
        Uganda, too, has experienced rising rates of online harassment targeting both women in public 
        life as well as everyday users.
        Online violence manifests during periods of political activity, and, when directed at 
        women in public life and political discourse, is an example of Violence Against Women in 
        Politics (VAW-P) (NDI, 2019). It is, therefore, referred to as<span class="intro-span"> 
        Online Violence Against Women in Politics (OVAW-P)</span>.
    </p>
    <p class="mb-2">
        In order to understand how this report sought to identify and analyze the scale of online 
        violence targeted at women political candidates and high-profile individuals during the 
        January 2021 General Election in Uganda. 
        The report also sought to determine how this online harassment might impact their use of social 
        media platforms for political activity during the elections.
    </p>
    <p class="mb-2">
        For this purpose, we identified and monitored the accounts of 152 nominated candidates and 
        50 high-profile individuals during the campaign and election period on the two most widely 
        used public platforms, Facebook and Twitter. Methodologies used include lexicon building focus 
        group discussions, data scraping of publicly available profiles, qualitative data analysis, 
        and development of a Machine Learning (ML) model to identify and tag instances of OVAWP in 
        both English and Luganda.
    </p>
</div>
<div class="container-fluid row res-obj p-4 mx-auto">
    <div class="col-sm">
        <h4 class="card card-title" style="border: 1px solid white;">
            RESEARCH QUESTIONS USED TO GUIDE TOWARDS ACHIEVING THE RESEARCH OBJECTIVE.</h4>
        <ul class="card card-body" style="background-color: #f89624;">
            <li>
                How do women politicians in Uganda use social media platforms for campaigning 
                during the scientific general elections?
            </li>
            <li>
                How does the use of social media platforms differ amongst men and women candidates?
            </li>
            <li>
                How does online violence against women candidates differ from that experienced 
                by men in regards to factors such as the form of violence experienced and frequency 
                across platforms?
            </li>
            <li>   
                What evidence of OVAW-P exists on social media platforms and how does it manifest?
            </li>
            <li>
                What is the association between OVAW-P and factors such as their age, political party 
                affiliation, frequency of social media use and electoral results?
            </li>
        </ul>  
    </div>
    <div class="col-sm text-center">
        <img class="geek-img" src="{% static 'images/qn-md.png' %}" width="80%">
    </div>
</div>
<div class="container-fluid row key-finding p-4 mx-auto">
    <div class="col-sm">
        <img class="geek-img" src="{% static 'images/fnd-md.png' %}" width="100%">
    </div>
    <div class="col-sm">
        <h4 class="card card-title">FINDINGS FROM THE STUDY REVEALED THE FOLLOWING.</h4>
        <ul class="card card-body" style="background-color: #822600; color: #b3b3b3;">
            <li>
                The use of social media platforms for engaging with voters and constituents 
                by women politicians remains low in Uganda. On Twitter, men candidates generated 
                twice as many tweets averaging 31 total tweets and replies per account during December 
                compared to their women counterparts at 14.
            </li>
            <li>
                Women politicians in Uganda prefer using Facebook compared to Twitter for engaging 
                with voters; 68% of women's Facebook accounts monitored were used at least once a week 
                during the campaigns compared to 50% of men's Facebook accounts.
            </li>
            <li>
                Women politicians were more likely to experience OVAW-P on Twitter as compared to 
                Facebook.
            </li>
            <li>
                Men and women experience online violence differently. Women are more likely to experience 
                trolling, sexual violence, and body shaming. Men are more likely to experience hate 
                speech and satirical comments; 18% of the accounts belonging to women experienced sexual 
                violence compared to 8% of those belonging to men.
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid women-sm p-4" style="background-color: snow;">
    <h4 class="mb-2">
        How did women politicians in Uganda use social media 
        platforms for campaigning during scientific general elections?
    </h4>
    <div class="row container-fluid">
        <div class="col-sm jumbotron p-2">
            <p>
            Our study found that nine out of every ten (89%) accounts were used to put out at least 
            one tweet/post during the campaign period. Twitter was the most widely used platform 
            with 92% of the candidates using the platform at least once during the monitoring 
            period while Facebook had 86%. 
            </p>
            <p>
            There was a considerable drop in social media usage 
            during the month of January, which is greatly attributable to the internet shutdown in Uganda. 
            In terms of gender, women were most active on Facebook while men dominated usage on Twitter.
            </p>
            <p> 
            At least 69% of the accounts belonging to female candidates 
            on Facebook were used at least once each week compared to the men at 47.5%.
            </p>
        </div>
        <div class="col-sm p-2 text-center" style="width:100%;max-width:750px;">
            <canvas id="myChart"></canvas>
        <span class="p-2">
            <button class="btn btn-sm btn-secondary chart-btn my-btn">
                <i class='fas fa-sync'></i>
                Switch</button>
        </span>
        </div>
    </div>
</div>
<div class="container-fluid social-response p-4">
    <h4 class="mt-2 text-center">
        What sentiments are attached to women's social media posts and how are 
        these sentiments distributed? 
    </h4>
    <div class="row container-fluid">
        <div class="col-sm text-center" style="width:100%;max-width:350px;">
            <canvas id="doughnutChart"></canvas>
            <span class="p-2">
                <button id="update-btn" class="btn btn-sm chart-btn my-btn" 
                    style="background-color: #f89624;">
                    <i class='fas fa-sync'></i>
                    Switch</button>
            </span>
        </div>
        <div class="col-sm p-2">
        <div class="container card mt-2" 
            style="background-color:#f5f5f5;
                border: 1px solid white;">
            <p class="card-body" style="font-size: 14px;">
                Using sentiment analysis, the sentiment of the comments and replies 
                from social media users to the candidates was analysed. 
                According to the data, higher engagement by a candidate group leads to a higher 
                volume of negative comments across both platforms. 
                On Facebook, women candidates received 77% of negative comments while on Twitter, 
                men candidates received 85.7% of negative replies.
            </p>
        </div>
        </div>
        <div class="col-sm text-center" style="width:100%;max-width:350px;">
            <canvas id="doughnut"></canvas>
            <span class="p-2">
                <button id="refresh-btn" class="btn btn-sm chart-btn my-btn" 
                    style="background-color: #822600;color: #b3b3b3;">
                    <i class='fas fa-sync'></i>
                    Switch</button>
            </span>
        </div>
    </div>
</div>
<div class="container-fluid ovawp-proof p-3">
    <h4 class="text-center">
        Is there evidence of OVAW-P? If yes, what are the manifestations of OVAW-P?
    </h4>
    <div class="container-fluid">
        <p class="mb-0"><i class='fas fa-check-circle' style="color:#822600;"></i>
            Women candidates were more likely to experience trolling, sexual violence and 
            body shaming compared to their male counterparts. 
        </p>
        <p class="mb-0"><i class='fas fa-check-circle' style="color:#822600;"></i>
            Men candidates were more likely to experience hate speech and satirical 
            speech as compared to women candidates.
        </p>
        <p class="mb-0"><i class='fas fa-check-circle' style="color:#822600;"></i>
        The trend was witnessed across both social media platforms monitored.<br>
        <i class='fas fa-check-circle' style="color:#822600;"></i> 
        However, overall, across almost all categories, violence experienced by both women 
        and men candidates on Twitter was higher than that on Facebook.
        </p>
    </div>
    <div class="container p-3">
        <div class="p-2" 
        style="width:100%;max-width:750px;margin:auto;background-color: white;">
            <canvas id="horizontalcxt"></canvas>
        </div>
    </div>
</div>
<div class="container-fluid other-factors p-3">
    <h4>
        Does OVAW-P correlate with other factors such as age, party affiliation, 
        election result, and frequency of social media use?
    </h4>
    <div>
        According to the data, online violence seemed to increase with an increase in age. 
        Older woman candidates were more likely to experience trolling, 
        insults, hate speech, body shaming, sexualised comments, and satirical content.
    </div>
    <div class="row p-3">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header" style="background-color: #f89624;">
					<h6 class="card-title" 
                    style="color: black;">
                    OVAW-P Vs PARTY AFFILIATION
                    <span class="form-inline form-control-group" 
                    style="position: relative; float: right; color: gray;">
                        Search:<input class="form-control form-control-sm ml-1" 
                        id="myInput" type="search" name="search">
                    </span>
                    </h6>
				</div>
				<div class="card-body">
				<div class="table-responsive">
				    <table id="dtdatatable" class="display table table-striped 
                    table-bordered table-hover table-sm" >
                        <thead style="background-color: rgb(223, 220, 220)">
							<tr>
								<th>POLITICAL PARTY</th>
							    <th>SEXUAL VIOLENCE</th>
								<th>TROLLING</th>
								<th>INSULT & HATE SPEECH</th>
								<th>SATIRE</th>
								<th>BODY SHAMING</th>
							</tr>
						</thead>
                        <tbody>
                            <tr class="tr-hover">
                                <td>FDC</td>
                                <td>25</td>
                                <td>38</td>
                                <td>38</td>
                                <td>13</td>
                                <td>0</td>
                            </tr>
                            <tr class="custom-hover" 
                                style="background-color: #f89624;">
                                <td>NRM</td>
                                <td>10</td>
                                <td>27</td>
                                <td>20</td>
                                <td>23</td>
                                <td>3</td>
                            </tr>
                            <tr class="tr-hover">
                                <td>NUP</td>
                                <td>15</td>
                                <td>23</td>
                                <td>39</td>
                                <td>23</td>
                                <td>0</td>
                            </tr>
                            <tr class="mycustom-hover" 
                                style="background-color: #822600; color:#b3b3b3;">
                                <td>INDEPENDENT</td>
                                <td>5</td>
                                <td>21</td>
                                <td>5</td>
                                <td>16</td>
                                <td>0</td>
                            </tr>
                            <tr class="tr-hover">
                                <td>Others</td>
                                <td>0</td>
                                <td>21</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>    
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-3 mx-auto">
    <div class="container text-center">
        <h5 class="text-left" style="font-weight: normal;">OVAWP Vs. Age Distribution</h5>
        <div class="table-responsive">
        <table class="table table-font
            table-bordered table-striped table-sm">
              <tr>
                <td style="background-color: #822600; color: white">GROUP</td>
                <td>BODY SHAMING</td>
                <td>INSULT/ HATE</td>
                <td>TROLLING</td>
                <td>SEXUAL VIOLENCE</td>
                <td>SATIRE</td>
              </tr>
            <tbody>
              <tr>
                <td>Under 40</td>
                <td style="background-color: white;">0</td>
                <td>10</td>
                <td style="background-color: #f89624;">18</td>
                <td>5</td>
                <td style="background-color: #f89624;">8</td>
              </tr>
              <tr>
                <td>40 - 55</td>
                <td style="background-color: #dadada;">0</td>
                <td>28</td>
                <td style="background-color: #f89624;">31</td>
                <td>16</td>
                <td style="background-color: #f89624;">25</td>
              </tr>
              <tr>
                <td>Above 55</td>
                <td style="background-color: white;">20</td>
                <td>40</td>
                <td style="background-color: #f89624;">40</td>
                <td>20</td>
                <td style="background-color: #f89624;">40</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="container text-center">
        <h5 class="text-left" style="font-weight: normal;">OVAWP Vs. Social Media Usage</h5>
        <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
              <tr>
                <td style="background-color: #822600; color: white;">FREQUENCY</td>
                <td>BODY SHAMING</td>
                <td>INSULT/ HATE</td>
                <td>TROLLING</td>
                <td>SEXUAL VIOLENCE</td>
                <td>SATIRE</td>
              </tr>
            <tbody>
              <tr>
                <td>DAILY</td>
                <td style="background-color: #b3b3b3">6</td>
                <td style="background-color: #f89624;">39</td>
                <td style="background-color: #f89624;">39</td>
                <td style="background-color: #b3b3b3">22</td>
                <td style="background-color: #f89624;">28</td>
              </tr>
              <tr>
                <td>MULTIPLE</td>
                <td>0</td>
                <td>25</td>
                <td>42</td>
                <td>13</td>
                <td>21</td>
              </tr>
              <tr>
                <td>WEEKLY</td>
                <td style="background-color: #f89624;">0</td>
                <td style="background-color: #f89624;">10</td>
                <td style="background-color: #f89624;">8</td>
                <td style="background-color: #b3b3b3">0</td>
                <td style="background-color: #f89624;">10</td>
              </tr>
              <tr>
                <td>RARELY</td>
                <td>0</td>
                <td>4</td>
                <td>26</td>
                <td>4</td>
                <td>12</td>
              </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
<div class="container-fluid p-3" style="font-family: inherit;">
    <h4 style="color: black;">
        Are there noticeable links between the perpetrators and their victims?</h4>
    <p>
        Using network analysis, the accounts posting comments or replies to each 
        gender were mapped out by strategic density comparison. 
        The diagram below shows the differential variation in 
        responses to the two genders. 
    </p>
    <p>
        It is evident that densely populated cluster (at 0.68 square inches)
        represents the female victims in this scenario while the remainder (at 0.32 square inches) 
        represent male victims. This visualisation evidences the fact that the females are 
        major victims to online targeted violence.
    </p>
    <!---
    <div class="text-right">
        <button class="btn btn-sm my-btn" 
            style="background-color:#f89624;">Genders</button>
        <button class="btn btn-sm ml-0 my-btn" 
            style="background-color:#822600;color:#b3b3b3;">Sources</button>
    </div>
    --->
    <div class="row">
        <div class="col-sm-10 flourish-embed flourish-network" data-src="visualisation/13282164">
            <script src="https://public.flourish.studio/resources/embed.js"></script>
        </div>
        <div class="col-sm-2 card card-body mt-2" style="font-size:12px;height:fit-content;">
            <div class="mb-2">
                <img id="pollicy-small-logo" 
                    src="{% static 'images/logo.png' %}" width="50px" height="32px" alt="logo image">
            </div>
            <p class="card-header">
                Gendered Network Visualisation
                Showing Large Bias Toward Female-Targeted Online Violence.
            </p>
            <p class="p-2"> 
            • It is evident that densely populated cluster (at 0.68 sq-inch)
            represents the female victims in this scenario while the 
            remainder only represent male victims (at 0.32 sq-inch). 
            </p>
            <span class="p-2" style="font-weight: bold; text-decoration: underline;">Legend:</span>
            <span class="p-2">• Male and Female Gender Categories.</span>
        </div>
    </div>
    <p class="p-2 mt-3 mb-1" 
        style="background-color:#b3b3b3;width:fit-content;border-radius:6px;font-weight:bold;">
        Note:
        As part of this project, a text classification model was used to classify tweets/posts 
        in various categories such as: Trolling, Sexual violence, Insults, etc. 
        <a style="color: inherit;" href="{% url 'pollicy_app:hate_speech' %}">
            This model can be tested out here!</a>
    </p>
    </div>
    </div>
</div>
</div>

<!--Specific page scripts-->
<style>
.navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

@media only screen and (max-width:768px) {
    .index-content {
        z-index: 2;
    }
}

@media only screen and (min-width: 768px) {
    .index-content {
        z-index: 1;
    }
}

</style>

<script>
$(document).ready(function () {

    $(document).ready(function () {

// the distance from top of page to initial position of the navbar, store it in a variable
var navbarOffset = $('#main-navbar').offset().top;

// Calculating the navbar height, and store it in a variable
var navbarHeight = $('#main-navbar').outerHeight();

$(window).on('scroll', function () {

    if ( $(window).scrollTop() >= navbarOffset ) { 
    // if the navbar offset equal or bigger than user scrolling, make it fixed
       $('#main-navbar').addClass('navbar-fixed-top');
       $('.main-content').css('padding-top', navbarHeight + 'px');
   } 
   else {
    // if not, return it to its initial state
       $('#main-navbar').removeClass('navbar-fixed-top');
       $('.main-content').css('padding-top', '0');
        }
    });
    });            
});       
</script>
<!--Ajax Scripts here-->
<script>
$(document).ready(function(){
    $('#sidebar-uls').on('click', '#intro-link', function(e){
        e.preventDefault();
        $("#main-content").load("intro_view/ #push-intro");
        e.stopPropagation();
    }).on('click', '#research-link', function(e) {
        e.preventDefault();
        $("#main-content").load("research_view/ #push-research");
        e.stopPropagation();
    });

})
</script>
{% endblock %}