<body>
The growth of internet users has brought about social and economic benefits on a global scale. 
However, significant harms such as online violence, disinformation, and hate speech have also proliferated in these online spaces. 
Discriminatory gendered practices are shaped by social, economic, cultural, and political structures in the physical world and are 
similarly reproduced online across digital platforms. 
Uganda, too, has experienced rising rates of online harassment targeting both women in public life as well as everyday users.
Online violence manifests during periods of political activity, and, when directed at women in public life and political discourse, 
is an example of Violence Against Women in Politics (VAW-P) (NDI, 2019). 
It is, therefore, referred to as Online Violence Against Women in Politics (OVAW-P). 
In order to understand how this report sought to identify and analyze the scale of online violence targeted at women political candidates and 
high-profile individuals during the January 2021 General Election in Uganda. 
The report also sought to determine how this online harassment might impact their use of social media 
platforms for political activity during the elections.
For this purpose, we identified and monitored the accounts of 152 nominated candidates and 
50 high-profile individuals during the campaign and election period on the two most widely used public 
platforms, Facebook and Twitter. Methodologies used include lexicon building focus group discussions, 
data scraping of publicly available profiles, qualitative data analysis, and development of a 
Machine Learning (ML) model to identify and tag instances of OVAWP in both English and Luganda.
</body>