{% extends 'pollicy_app/base.html' %}
{% load static %}
{% block title_block %}
| Ovawp Vs Other Variables
{% endblock %}

{% block body_block %}
<div id="push-variables" class="container-fluid mx-auto">
    <h4>
        Does OVAW-P correlate with other factors such as age, election result, and 
        frequency of social media use?
    </h4>
    <div class="mb-3">
        According to the data from Facebook, sexual violence increased with an increase in age. 
        While the two forms of violence: insult and hate speech and trolling were more associated 
        with younger women age groups. Online violence was predominantly associated with the losing 
        candidates, and 72.7 percent of the women who lost the election experienced disinformation and 
        60 percent of the women who lost the election experienced insults and hate speech, and 75% of the 
        women who lost the election experienced sexual harassment and 77.4 percent of the women who lost the 
        election experienced trolling. 
        In terms of social media frequency of use, higher usage of social media platforms resulted in 
        higher levels of online violence.
    </div>  
  <div class="p-3">
  <h5 class="new-h-plots" style="font-weight:normal;">
    Statistics on Twitter of Women Experiencing OVAWP Forms</h5>
  <div id="new-plots">
    <div>
        <iframe title="[ Insert title here ]" aria-label="Grouped Column Chart" 
        id="datawrapper-chart-mPMmE" src="https://datawrapper.dwcdn.net/mPMmE/1/" scrolling="no" 
        frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="414" 
        data-external="1"></iframe>
        <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a)
        {if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");
        for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source)
        {var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
        </script>
      </div>
  </div>
  <div class="btn-group" role="group">
      <button class="btn btn-sm new-plt-btn my-btn" style="background-color:#f89624;">
          Twitter Chart I</button>
      <button class="btn btn-sm new-cht-btn my-btn" style="background-color:#822600;color:#b3b3b3;">
          Twitter Chart II</button>
  </div> 
  </div>
  <!--facebook charts here-->
  <div class="p-3">
    <h5 class="new-facebook-header reveal fade-right" style="font-weight:normal;">
        Statistics on Facebook of Women Experiencing OVAWP Forms</h5>
    <div id="new-facebook-plots">
    <div>
        <div>
            <iframe title="[ Insert title here ]" aria-label="Grouped Column Chart" id="datawrapper-chart-oIoxI" src="https://datawrapper.dwcdn.net/oIoxI/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
            </script>
          </div>
    </div>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-sm new-facebook-plt-btn my-btn" style="background-color:#f89624;">
            Facebook Chart I</button>
        <button class="btn btn-sm new-facebook-cht-btn my-btn" style="background-color:#822600;color:#b3b3b3;">
            Facebook Chart II</button>
    </div> 
    </div>      
  <div class="mt-2 p-3">    
  <h5 class="new-lplots" style="font-weight: normal;">
          OVAWP Vs. Frequency of Social Media Usage By Women Candidates  
  </h5>
  <div class="div-line-plt">
  <div><!--data plot here-->
    <iframe title="[ Insert title here ]" aria-label="Grouped Column Chart" id="datawrapper-chart-SVAAz" src="https://datawrapper.dwcdn.net/SVAAz/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="499" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
    </script>
  </div>
  </div>
  <div class="btn-group" role="group"> <!---div for buttons-->
  <button id="new-line-plt-btn" class="btn btn-sm my-btn" style="background-color:#f89624;">
      Ovawp Vs. Frequency Chart
  </button>
  <button id="new-line-chart-btn" class="btn btn-sm my-btn" 
      style="background-color:#822600;color:#b3b3b3;">
      Ovawp Vs. Elections Chart
  </button>
  </div>
  </div>  
</div>
{% endblock %}
