{% load static %}
{% block body_block %}
<div id="push-evidence" class="container-fluid ovawp-proof p-3">
    <h4 class="text-center">
        Is there evidence of OVAW-P? If yes, what are the manifestations of OVAW-P?
    </h4>
    <div class="container-fluid">
        <ul>
            <li class="mb-0">
                OVAW-P was more prevalent among women candidates on Facebook with at least one in two of the 
                women's accounts monitored (55.7 percent) experiencing some form of OVAWP compared to 35.4 percent 
                among the men candidates.    
            </li>
            <li class="mb-0">
                Additionally, each of the forms of violence observed was more prevalent towards those women 
                candidates, especially sexual violence which was predominantly experienced by women candidates. 
            </li>
            <li class="mb-0">
                On Twitter, online violence disproportionately affected women, with significantly higher percentages of 
                women experiencing sexual harassment, hate speech, and disinformation compared to men.<br>
            </li>
        </ul>
    </div>
    <div class="container-fluid p-3 row">
        <div class="p-2 col-sm" 
        style="width:100%;max-width:720px;height:450px;margin:auto;background-color: white;">
            <canvas id="horizongraph"></canvas>
        </div>
        <div class="p-2 col-sm" 
        style="width:100%;max-width:720px;height:450px;margin:auto;background-color: white;">
            <canvas id="sec-horizon-graph"></canvas>
        </div>
    </div>
</div>
{% endblock %}