<body>
    Women candidates were more likely to experience trolling, sexual violence and body shaming 
    compared to their male counterparts. 
    Men candidates were more likely to experience hate speech and satirical speech as compared to 
    women candidates. This trend was similarly observed across both social media platforms monitored. 
    However, overall, across almost all categories, violence experienced by both women and men 
    candidates on Twitter was higher than that on Facebook.
</body>