{% extends 'pollicy_app/base.html' %}
{% load static %}
{% block title_block %}
| Ovawp Vs Other Variables
{% endblock %}

{% block body_block %}
<div id="push-variables" class="container-fluid other-factors p-3">
    <h4>
        Does OVAW-P correlate with other factors such as age, 
        election result, and frequency of social media use?
    </h4>
    <div>
      According to the data from Facebook, sexual violence increased with an increase in age. 
      While the two forms of violence: insult and hate speech and trolling were more associated 
      with younger women age groups. Online violence was predominantly associated with the losing 
      candidates, and 72.7 percent of the women who lost the election experienced disinformation and 
      60 percent of the women who lost the election experienced insults and hate speech, and 75% of the 
      women who lost the election experienced sexual harassment and 77.4 percent of the women who lost the 
      election experienced trolling. 
      In terms of social media frequency of use, higher usage of social media platforms resulted in 
      higher levels of online violence.
    </div>
    <!------
    <div class="row p-3">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header" style="background-color: #f89624;">
					<h6 class="card-title" 
                    style="color: black;">
                    OVAW-P Vs PARTY AFFILIATION
                    <span class="form-inline form-control-group" 
                    style="position: relative; float: right; color: gray;">
                        Search:<input class="form-control form-control-sm ml-1" 
                        id="myInput" type="search" name="search">
                    </span>
                    </h6>
				</div>
				<div class="card-body">
				<div class="table-responsive">
				    <table id="dtdatatable" class="display table table-striped 
                    table-bordered table-hover table-sm" >
                        <thead style="background-color: rgb(207, 207, 207); color: rgb(0, 0, 0);">
							<tr>
								<th>POLITICAL PARTY</th>
							    <th>SEXUAL VIOLENCE</th>
								<th>TROLLING</th>
								<th>INSULT & HATE SPEECH</th>
								<th>SATIRE</th>
								<th>BODY SHAMING</th>
							</tr>
						</thead>
                        <tbody>
                            <tr class="tr-hover">
                                <td>FDC</td>
                                <td>25</td>
                                <td>38</td>
                                <td>38</td>
                                <td>13</td>
                                <td>0</td>
                            </tr>
                            <tr class="custom-hover" 
                                style="background-color: #f89624;">
                                <td>NRM</td>
                                <td>10</td>
                                <td>27</td>
                                <td>20</td>
                                <td>23</td>
                                <td>3</td>
                            </tr>
                            <tr class="tr-hover">
                                <td>NUP</td>
                                <td>15</td>
                                <td>23</td>
                                <td>39</td>
                                <td>23</td>
                                <td>0</td>
                            </tr>
                            <tr class="mycustom-hover" 
                                style="background-color: #822600; color:#b3b3b3;">
                                <td>INDEPENDENT</td>
                                <td>5</td>
                                <td>21</td>
                                <td>5</td>
                                <td>16</td>
                                <td>0</td>
                            </tr>
                            <tr class="tr-hover">
                                <td>Others</td>
                                <td>0</td>
                                <td>21</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>    
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
    ------->
    <div class="container-fluid p-3 mx-auto">
      <div class="container text-center">
          <h5 class="text-left" style="font-weight: normal;">
              Twitter: Percentage of Women Experiencing OVAWP Grouped By Age-Group
          </h5>
          <div class="table-responsive">
          <table class="table table-font
              table-bordered table-striped table-sm">
                <tr>
                  <td style="background-color:#f89624;color:black;">
                      SPECIFIC FORM OF OVAWP (ON TWITTER)</td>
                  <td>Under 40</td>
                  <td>40 to 45</td>
                  <td>Above 55</td>
                </tr>
              <tbody>
                <tr>
                  <td>SEXUAL OR BODY SHAMING<br>(Within the Age Category)</td>
                  <td style="background-color: white;">23.1</td>
                  <td>25.0</td>
                  <td style="background-color: white;">25.0</td>
                </tr>
                <tr>
                  <td>INSULT OR HATE SPEECH<br>(Within the Age Category)</td>
                  <td style="background-color: #dadada;">23.1</td>
                  <td>33.0</td>
                  <td style="background-color: #dadada;">25.0</td>
                </tr>
                <tr>
                  <td>TROLLING<br>(Within the Age category)</td>
                  <td style="background-color: white;">30.8</td>
                  <td>35.0</td>
                  <td style="background-color: white;">25.0</td>
                </tr>
                <tr>
                  <td>DISINFORMATION<br>(Within the Age Category)</td>
                  <td style="background-color: white;">23.1</td>
                  <td>30.0</td>
                  <td style="background-color: white;">25.0</td>
                </tr>
              </tbody>
          </table>
          </div>
      </div>
      <div class="container text-center mt-4">
          <h5 class="text-left" style="font-weight: normal;">
              Facebook: Percentage of Women Experiencing OVAWP Grouped By Age-Group
          </h5>
          <div class="table-responsive">
          <table class="table table-font
              table-bordered table-striped table-sm">
                <tr>
                  <td style="background-color:#f89624;color:black;">
                     SPECIFIC FORM OF OVAWP (ON FACEBOOK)</td>
                  <td>Under 40</td>
                  <td>40 to 45</td>
                  <td>Above 55</td>
                </tr>
              <tbody>
                <tr>
                  <td>WITHIN SEXUAL VIOLENCE<br><span style="color:#822600;">
                      (Within the Age Category)</span></td>
                  <td style="background-color: white;">28.6<br>
                      <span style="color:#822600;">14.3</span>
                  </td>
                  <td>42.9<br>
                      <span style="color:#822600;">18.8</span>
                  </td>
                  <td style="background-color: white;">28.9<br>
                      <span style="color:#822600;">28.6</span>
                  </td>
                </tr>
                <tr>
                  <td>WITHIN INSULT/ HATE SPEECH<br><span style="color:#822600;">
                      (Within the Age Category)</span></td>
                  <td style="background-color: #dadada;">50<br>
                      <span style="color:#822600;">28.6</span>
                  </td>
                  <td>37.5<br>
                      <span style="color:#822600;">18.8</span>
                  </td>
                  <td style="background-color: #dadada;">12.5<br>
                      <span style="color:#822600;">14.3</span>
                  </td>
                </tr>
                <tr>
                  <td>WITHIN TROLLING<br><span style="color:#822600;">
                      (Within the Age category)</span></td>
                  <td style="background-color: white;">43.8<br>
                      <span style="color:#822600;">50</span>
                  </td>
                  <td>43.8<br>
                      <span style="color:#822600;">43.8</span>
                  </td>
                  <td style="background-color: white;">12.5<br>
                      <span style="color:#822600;">28.6</span>
                  </td>
                </tr>
              </tbody>
          </table>
      </div>
      </div>
      <div class="container text-center mt-4">
          <h5 class="text-left" style="font-weight: normal;">
              OVAWP Vs. Frequency of Social Media Usage By Women Candidates  
          </h5>
          <div class="table-responsive">
          <table class="table table-font
              table-bordered table-striped table-sm">
                <tr>
                  <td style="background-color:#822600;color:white;">
                      OVAWP TYPE
                  </td>
                  <td>Daily</td>
                  <td>Multiple Times a Week</td>
                  <td>Once Weekly</td>
                  <td>Rarely</td>
                </tr>
              <tbody>
                <tr>
                  <td>DISINFORMATION</td>
                  <td style="background-color: white;">54.5</td>
                  <td>35.1</td>
                  <td style="background-color: white;">12.5</td>
                  <td>14.5</td>
                </tr>
                <tr>
                  <td>INSULT AND HATE SPEECH</td>
                  <td style="background-color: #dadada;">18.7</td>
                  <td>27.0</td>
                  <td style="background-color: #dadada;">25.0</td>
                  <td>7.1</td>
                </tr>
                <tr>
                  <td>TROLLING</td>
                  <td style="background-color: white;">54.5</td>
                  <td>54.1</td>
                  <td style="background-color: white;">25.0</td>
                  <td>21.4</td>
                </tr>
                <tr>
                  <td>SEXUAL AND SHAMING</td>
                  <td style="background-color: white;">36.4</td>
                  <td>24.3</td>
                  <td style="background-color: white;">25</td>
                  <td>7.1</td>
                </tr>
              </tbody>
          </table>
          </div>
      </div>
      <div class="container text-center mt-4">
          <h5 class="text-left" style="font-weight: normal;">
              OVAWP Grouped By Election Outcome 
          </h5>
          <div class="table-responsive">
          <table class="table table-font
              table-bordered table-striped table-sm">
                <tr>
                  <td style="background-color:#f89624;color:black;">
                      OVAWP
                  </td>
                  <td>LOST THE ELECTIONS</td>
                  <td>WON THE ELECTIONS</td>
                </tr>
              <tbody>
                <tr>
                  <td> Within Disinformation</td>
                  <td style="background-color: white;">72.7</td>
                  <td>27.3</td>
                </tr>
                <tr>
                  <td>Within Insult/ Hate Speech</td>
                  <td style="background-color: #dadada;">60.0</td>
                  <td>40.0</td>
                </tr>
                <tr>
                  <td>Within Sexual Harrassment</td>
                  <td style="background-color: white;">75.0</td>
                  <td>25.0</td>
                </tr>
                <tr>
                  <td>Within Trolling</td>
                  <td style="background-color: white;">77.4</td>
                  <td style="background-color: white;">22.6</td>
                </tr>
              </tbody>
          </table>
          </div>
      </div>
    </div>
</div>

{% endblock %}
