{% extends 'pollicy_app/base.html' %}
{% load static %}
{% block title_block %}
| Ovawp Vs Other Variables
{% endblock %}

{% block body_block %}
<div id="push-variables" class="container-fluid mx-auto">
  <div class="p-3">
  <h5 class="new-h-plots" style="font-weight:normal;">
      Women Age Range Percentages Experiencing Ovawp in Twitter Platform</h5>
  <div id="new-plots">
  <div>
      <iframe title="Women Age-Groups Experiencing OVAWP on Twitter" 
      aria-label="Range Plot" id="datawrapper-chart-hZQKL" 
      src="https://datawrapper.dwcdn.net/hZQKL/4/" scrolling="no" frameborder="0" 
      style="width: 0; min-width: 100% !important; border: none;" height="145" data-external="1">
      </iframe>
      <script type="text/javascript">
      !function()
      {"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])
      {var e=document.querySelectorAll("iframe");
      for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source)
      {var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
      </script>
  </div>
  </div>
  <div>
      <button class="btn btn-sm new-plt-btn my-btn" style="background-color:#f89624;">
          Facebook Range Plot</button>
      <button class="ml-3 btn btn-sm new-cht-btn my-btn" style="background-color:#822600;color:#b3b3b3;">
          Twitter Range Plot</button>
  </div> 
  </div>   
  <div class="mt-2 p-3">    
  <h5 class="new-lplots" style="font-weight: normal;">
          OVAWP Vs. Frequency of Social Media Usage By Women Candidates  
  </h5>
  <div class="line-plt">
  <div><!--data plot here-->
      <iframe title="[ Insert title here ]" aria-label="Interactive line chart" id="datawrapper-chart-JC08H" src="https://datawrapper.dwcdn.net/JC08H/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="500" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
      </script>
  </div>
  </div>
  <div> <!---div for buttons-->
  <button id="new-line-plt-btn" class="btn btn-sm my-btn" style="background-color:#f89624;">
      Ovawp Vs. Frequency Chart
  </button>
  <button id="new-line-chart-btn" class="btn btn-sm my-btn ml-3" 
      style="background-color:#822600;color:#b3b3b3;">
      Ovawp Vs. Elections Chart
  </button>
  </div>
  </div>  
</div>
{% endblock %}
