{% extends 'pollicy_app/base.html' %}
{% load static %}
{% block title_block %}
| Research Objectives
{% endblock %}

{% block body_block %}
<div id="push-research" class="container-fluid row res-obj p-4 mx-auto">
    <div class="col-sm">
        <h4 class="card card-title" style="border: 1px hidden #f89624;">
            RESEARCH QUESTIONS USED TO GUIDE TOWARDS ACHIEVING THE RESEARCH OBJECTIVE</h4>
        <ul class="card card-body" style="background-color: #f5f4f4;">
            <li>
                How do women politicians in Kenya use social media platforms for campaigning 
                during the election period?
            </li>
            <li>
                How does the use of social media platforms differ amongst men and women candidates?
            </li>
            <li>
                How does online violence against women candidates differ from that experienced 
                by men in regards to factors such as the form of violence experienced and frequency 
                across platforms?
            </li>
            <li>   
                What evidence of OVAW-P exists on social media platforms and how does it manifest?
            </li>
            <li>
                What is the association between OVAW-P and factors such as their age, frequency of 
                social media use, and electoral results?
            </li>
        </ul>  
    </div>
    <div class="col-sm text-center">
        <img class="geek-img" src="{% static 'images/qn-md.png' %}" width="80%">
    </div>
</div>
{% endblock %}