{% load static %}
{% block body_block %}
<div id="push-socialresponse" class="container-fluid social-response p-4">
    <h4 class="mt-2 text-center">
        What sentiments are attached to women's social media posts and how are 
        these sentiments distributed? 
    </h4>
    <div class="row container-fluid">
        <div class="col-sm text-center" style="width:100%;max-width:350px;">
            <canvas id="newdough-chart"></canvas>
            <span class="p-2">
                <!---
                <button id="update-btn" class="btn btn-sm chart-btn my-btn" 
                    style="background-color: #f89624;">
                    <i class='fas fa-sync'></i>
                    Switch</button>
                ---->
            </span>
        </div>
        <div class="col-sm p-2">
        <div class="container card mt-2" 
            style="background-color:#f5f5f5;
                border: 1px solid white;">
            <p class="card-body" style="font-size: 14px;">
                Using sentiment analysis, the sentiment of the comments and replies 
                from social media users to the candidates was analysed. 
                According to the data, higher engagement by a candidate group leads to a higher 
                volume of negative comments across both platforms. 
                On Facebook, women candidates received 77% of negative comments while on Twitter, 
                men candidates received 85.7% of negative replies.
            </p>
        </div>
        </div>
        <div class="col-sm text-center" style="width:100%;max-width:350px;">
            <canvas id="doughChartPlot"></canvas>
            <span class="p-2">
                <!---
                <button id="refresh-btn" class="btn btn-sm chart-btn my-btn" 
                    style="background-color: #822600;color: #b3b3b3;">
                    <i class='fas fa-sync'></i>
                    Switch</button>
                --->
            </span>
        </div>
    </div>
    <hr style="color: #b3b3b3;width: 90%; margin: auto;"> 
    <div class="row container-fluid text-center">
        <div class="col-sm text-center" style="width:100%;max-width:350px;">
            <canvas id="third-dough"></canvas>
        </div>
        <div class="col-sm p-2">
            <div class="container card mt-2" 
            style="background-color:#f5f5f5;
                border: 1px solid white;">
            <p class="card-body" style="font-size: 14px;">
                In a snap-analysis, these doughnut charts depict statistics 
                in reponse, 
                with the ones above showing positive comment distribution 
                and the ones below showing negative statistics. All figures
                in this sub-study study were confined to percentages. 
            </p>
        </div>
        </div>
        <div class="col-sm text-center" style="width:100%;max-width:350px;">
            <canvas id="fourth-dough"></canvas>
        </div>
    </div>
</div>
{% endblock %}