{% extends 'pollicy_app/base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}
| Translate Lang
{% endblock %}

{% block body_block %}
<header class="trans-header" data-scroll>
<div class="p-2 trans-styles" style="z-index:0 !important;">
  <img src="{% static 'images/logo.png' %}" width="150px" class="p-1"
    style="background-color:white;border: 1px solid white;border-radius:5px;">
</div>
<div class="text-center p-1 mb-2 trans-styles" 
      style="background-color:#f89624;width:45%;z-index:0 !important;
      border:1px solid white;border-radius:5px;margin:auto;">
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <h4>{% trans "Select Swahili Here and Translate:" %}</h4>
        <select name="language">
           {% get_current_language as LANGUAGE_CODE %}
           {% get_available_languages as LANGUAGES %}
           {% get_language_info_list for LANGUAGES as languages %}
           {% for language in languages %}
             <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
              {{ language.name_local }} ({{ language.code }})
             </option>
           {% endfor %}
        </select>
        <input style="font-size:14px;" 
          type="submit" value="{% trans 'Translate' %}" class="btn btn-sm btn-dark">
    </form>
</div>
</header>
<main class="main" style="z-index:1 !important;background-color:white;">
<div style="background-color:#f7f7f7;height:65vh;" class="p-4 trans-styles mb-5">
  <h5 style="background-color:white;width:fit-content;border-radius:3px;" class="p-1 mb-2">
    {% trans "Introduction" %}
  </h5>
  <p class="trans-styles">
    {% trans "The malignant influence of social media, as a ubiquitous and powerful medium of communication in countries all" %} 
    {% trans " over the world, has brought about a growing era of challenges such as hate speech, online violence, fake news," %}
    {% trans " and other forms of harmful content. From the physical world to the digital realm," %} 
    {% trans " gender-based discrimination persists and thrives through malignant online practices." %}
  </p>
  <p>
    {% trans " Kenya is no exception, as online harassment targets both prominent women and everyday users." %} 
    {% trans " These harmful behaviors are becoming all too common in our online spaces, perpetuated by social, economic, cultural," %}
    {% trans " and political structures that echo through the medium of digital networks." %} 
  </p>
  <p>
    {% trans " In order to further understand these malignant practices, we conducted a comprehensive study that involved" %}
    {% trans " tracking and analyzing the online activities of over 250 women and men candidates on Twitter and Facebook during the 2022" %}
    {% trans " Kenya general elections specifically, during the campaign and election period. Our methodologies encompassed" %} 
    {% trans " a range of techniques, including lexicon-building focus group discussions, data scraping of publicly available profiles," %} 
    {% trans " qualitative data analysis, and the development of a Machine Learning model" %}
    {% trans " capable of identifying and categorizing instances of online violence and hate speech in both English and Swahili languages." %} 
  </p>
</div>
<div class="row res-obj p-4 container-fluid mb-3">
<div class="col-sm">
<h4 class="card card-title" style="border: 1px hidden #f89624;">
  {% trans "RESEARCH QUESTIONS USED TO GUIDE TOWARDS ACHIEVING THE RESEARCH OBJECTIVE" %}
</h4>
<ul class="container-fluid card card-body" style="background-color: #f5f4f4;">
    <li class="reveal fade-bottom">
      {% trans "How do women politicians in Kenya use social media platforms for campaigning" %}      
      {% trans " during the election period?" %}
    </li>
    <li class="reveal fade-bottom">
      {% trans "How does the use of social media platforms differ amongst men and women candidates?" %}
    </li>
    <li class="reveal fade-bottom">
      {% trans "How does online violence against women candidates differ from that experienced" %}
      {% trans " by men in regards to factors such as the form of violence experienced and frequency" %}
      {% trans  " across platforms?" %}
    </li>
    <li class="reveal fade-bottom">   
      {% trans "What evidence of OVAW-P exists on social media platforms and how does it manifest?" %}
    </li>
    <li class="reveal fade-bottom">
      {% trans "What is the association between OVAW-P and factors such as their age, frequency of" %} 
      {% trans " social media use, and electoral results?" %}
    </li>
</ul>
</div>
<div class="col-sm text-center">
  <div class="w3-content w3-section" style="max-width:100%">
    <img class="myImgSlides" src="{% static 'images/sect-img1.jpg' %}" style="width:100%">
    <img class="myImgSlides" src="{% static 'images/sect-img2.jpg' %}" style="width:100%">
</div>
</div>
</div>
<div class="container-fluid row key-finding p-4 mx-auto mb-3">
  <div class="col-sm">
      <img class="geek-img" src="{% static 'images/fnd-md.png' %}" width="100%">
  </div>
  <div class="col-sm">
      <h4 class="card card-title">
      {% trans "FINDINGS FROM THE STUDY REVEALED THE FOLLOWING" %}</h4>
      <ul class="card card-body" style="background-color: #f5f4f4;">
        <li>
          {% trans "The use of social media platforms for engaging with voters and constituents by women" %} 
          {% trans " politicians remains low in Kenya. 93 percent of the accounts belonging to men" %}  
          {% trans " candidates were used at least once during 2022 on Facebook compared to 80 percent" %} 
          {% trans " of the women politicians accounts." %} 
          {% trans " On Twitter, 49 percent of accounts belonging to women had less than 5 tweets a month" %}
          {% trans " during the campaign period." %}
        </li>
        <li>
          {% trans "OVAWP was more prevalent among women candidates than men, especially on Twitter where" %} 
          {% trans " 2 out of 5 women's Twitter accounts monitored experienced sexual harassment." %}
        </li>
        <li>
          {% trans "The attacks against Kenyan women politicians were often focused on personal and sexual" %} 
          {% trans " aspects rather than policies or qualifications." %}
        </li>
        <li>
          {% trans "The cultural and traditional barriers that limit women's participation in politics" %} 
          {% trans " contributed to online violence, and factors such as age and party affiliation also made" %} 
          {% trans " women more vulnerable to harassment and abuse." %}
        </li>
      </ul>
  </div>
</div>
<div class="container-fluid women-sm p-4 mb-3 mt-3" style="background-color: white;">
  <h4 class="mb-3">
      {% trans "How did women politicians in Kenya use social media" %} 
      {% trans " platforms for campaigning during the general elections?" %}
  </h4>
  <div class="row container-fluid">
      <div class="col-sm jumbotron p-6">
          <p>
            {% trans "Facebook usage was generally higher across the men candidates with 93.8 percent of" %} 
            {% trans " the accounts belonging to the men candidates being used at least once a week compared" %} 
            {% trans " to the women candidates at 80 percent." %}
          <br>
            {% trans " On Twitter, 51 percent of the women candidates used their account at least once a week" %} 
            {% trans " compared to their male counterparts at 56 percent." %}
          </p>
      </div>
      <div class="col-sm p-2 text-center" style="width:100%;max-width:750px;height:350px;">
          <canvas id="secbarcanva"></canvas>
      <div class="p-2">
          <button class="btn btn-sm btn-secondary my-btn trans-btn">
          <i class='fas fa-sync'></i>
          {% trans "Switch"%}</button>
      </div>
      </div>
  </div>
</div>
<div class="container-fluid ovawp-proof p-3 mt-4">
  <h4 class="text-center">
    {% trans "Is there evidence of OVAW-P? If yes, what are the manifestations of OVAW-P?" %}
  </h4>
  <div class="container-fluid">
      <ul>
          <li class="mb-0">
            {% trans "OVAW-P was more prevalent among women candidates on Facebook with at least one in two of" %} 
            {% trans " the women's accounts monitored (55.7 percent) experiencing some form of OVAWP compared to" %} 
            {% trans " 35.4 percent among the men candidates." %}    
          </li>
          <li class="mb-0">
            {% trans "Additionally, each of the forms of violence observed was more prevalent towards those women" %} 
            {% trans " candidates, especially sexual violence which was predominantly experienced by women candidates." %} 
          </li>
          <li class="mb-0">
            {% trans "On Twitter, online violence disproportionately affected women, with significantly higher percentages" %} 
            {% trans " of women experiencing sexual harassment, hate speech, and disinformation compared to men." %}
          </li>
      </ul>
  </div>
  <div class="container-fluid p-3 row">
      <div class="p-2 col-sm reveal fade-left" 
      style="width:100%;max-width:720px;height:450px;margin:auto;background-color: white;">
          <canvas id="transhorizoncanva"></canvas>
      </div>
      <div class="p-2 col-sm reveal fade-right" 
      style="width:100%;max-width:720px;height:450px;margin:auto;background-color: white;">
          <canvas id="trans-horigraph-canva"></canvas>
      </div>
  </div>
</div>
<div class="container-fluid other-factors p-4">
  <h4>
  {% trans "Does OVAW-P correlate with other factors such as age, election result, and frequency of social media use?" %}
  </h4>
  <div>
  {% trans "According to the data from Facebook, sexual violence increased with an increase in age."%} 
  {% trans " While the two forms of violence: insult and hate speech and trolling were more associated with younger women age groups." %} 
  {% trans " Online violence was predominantly associated with the losing candidates, and 72.7 percent of the women who lost the election" %} 
  {% trans " experienced disinformation and 60 percent of the women who lost the election experienced insults and hate speech," %} 
  {% trans " and 75% of the women who lost the election experienced sexual harassment and 77.4 percent of the women who lost the" %} 
  {% trans " election experienced trolling." %} 
  {% trans " In terms of social media frequency of use, higher usage of social media platforms resulted in higher levels of online violence." %}
  </div>
<div class="container-fluid p-3 mx-auto">
    <div class="container text-center">
        <h5 class="text-left" style="font-weight: normal;">
          {% trans "Twitter: Percentage of Women Experiencing OVAWP Grouped By Age-Group" %}
        </h5>
        <div class="table-responsive">
        <table class="table table-font
            table-bordered table-striped table-sm">
              <tr>
                <td style="background-color:#f89624;color:black;">
                  {% trans "OVAWP ON TWITTER" %}</td>
                <td>{% trans "Under 40" %}</td>
                <td>{% trans "40 to 45" %}</td>
                <td>{% trans "Above 55" %}</td>
              </tr>
            <tbody>
              <tr>
                <td>{% trans "SEXUAL OR BODY SHAMING" %}<br>{% trans "(Within the Age Category)" %}</td>
                <td style="background-color: white;">23.1</td>
                <td>25.0</td>
                <td style="background-color: white;">25.0</td>
              </tr>
              <tr>
                <td>{% trans "INSULT OR HATE SPEECH" %}<br>{% trans "(Within the Age Category)" %}</td>
                <td style="background-color: #dadada;">23.1</td>
                <td>33.0</td>
                <td style="background-color: #dadada;">25.0</td>
              </tr>
              <tr>
                <td>{% trans "TROLLING" %}<br>{% trans "(Within the Age Category)" %}</td>
                <td style="background-color: white;">30.8</td>
                <td>35.0</td>
                <td style="background-color: white;">25.0</td>
              </tr>
              <tr>
                <td>{% trans "DISINFORMATION" %}<br>{% trans "(Within the Age Category)" %}</td>
                <td style="background-color: white;">23.1</td>
                <td>30.0</td>
                <td style="background-color: white;">25.0</td>
              </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="container text-center mt-4">
        <h5 class="text-left" style="font-weight: normal;">
            Facebook: Percentage of Women Experiencing OVAWP Grouped By Age-Group
        </h5>
        <div class="table-responsive">
        <table class="table table-font
            table-bordered table-striped table-sm">
              <tr>
                <td style="background-color:#f89624;color:black;">
                   OVAWP ON FACEBOOK</td>
                <td>Under 40</td>
                <td>40 to 45</td>
                <td>Above 55</td>
              </tr>
            <tbody>
              <tr>
                <td>WITHIN SEXUAL VIOLENCE<br><span style="color:#822600;">
                    (Within the Age Category)</span></td>
                <td style="background-color: white;">28.6<br>
                    <span style="color:#822600;">14.3</span>
                </td>
                <td>42.9<br>
                    <span style="color:#822600;">18.8</span>
                </td>
                <td style="background-color: white;">28.9<br>
                    <span style="color:#822600;">28.6</span>
                </td>
              </tr>
              <tr>
                <td>WITHIN INSULT/ HATE SPEECH<br><span style="color:#822600;">
                    (Within the Age Category)</span></td>
                <td style="background-color: #dadada;">50<br>
                    <span style="color:#822600;">28.6</span>
                </td>
                <td>37.5<br>
                    <span style="color:#822600;">18.8</span>
                </td>
                <td style="background-color: #dadada;">12.5<br>
                    <span style="color:#822600;">14.3</span>
                </td>
              </tr>
              <tr>
                <td>WITHIN TROLLING<br><span style="color:#822600;">
                    (Within the Age Category)</span></td>
                <td style="background-color: white;">43.8<br>
                    <span style="color:#822600;">50</span>
                </td>
                <td>43.8<br>
                    <span style="color:#822600;">43.8</span>
                </td>
                <td style="background-color: white;">12.5<br>
                    <span style="color:#822600;">28.6</span>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="container text-center mt-4">
        <h5 class="text-left" style="font-weight: normal;">
            OVAWP Vs. Frequency of Social Media Usage By Women Candidates  
        </h5>
        <div class="table-responsive">
        <table class="table table-font
            table-bordered table-striped table-sm">
              <tr>
                <td style="background-color:#822600;color:white;">
                    OVAWP TYPE
                </td>
                <td>Daily</td>
                <td>Multiple Times a Week</td>
                <td>Once Weekly</td>
                <td>Rarely</td>
              </tr>
            <tbody>
              <tr>
                <td>DISINFORMATION</td>
                <td style="background-color: white;">54.5</td>
                <td>35.1</td>
                <td style="background-color: white;">12.5</td>
                <td>14.5</td>
              </tr>
              <tr>
                <td>INSULT AND HATE SPEECH</td>
                <td style="background-color: #dadada;">18.7</td>
                <td>27.0</td>
                <td style="background-color: #dadada;">25.0</td>
                <td>7.1</td>
              </tr>
              <tr>
                <td>TROLLING</td>
                <td style="background-color: white;">54.5</td>
                <td>54.1</td>
                <td style="background-color: white;">25.0</td>
                <td>21.4</td>
              </tr>
              <tr>
                <td>SEXUAL AND SHAMING</td>
                <td style="background-color: white;">36.4</td>
                <td>24.3</td>
                <td style="background-color: white;">25</td>
                <td>7.1</td>
              </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="container text-center mt-4">
        <h5 class="text-left" style="font-weight: normal;">
            OVAWP Grouped By Election Outcome
        </h5>
        <div class="table-responsive">
        <table class="table table-font
            table-bordered table-striped table-sm">
              <tr>
                <td style="background-color:#f89624;color:black;">
                    OVAWP
                </td>
                <td>LOST ELECTIONS</td>
                <td>WON ELECTIONS</td>
              </tr>
            <tbody>
              <tr>
                <td> Within Disinformation</td>
                <td style="background-color: white;">72.7</td>
                <td>27.3</td>
              </tr>
              <tr>
                <td>Within Insult/ Hate Speech</td>
                <td style="background-color: #dadada;">60.0</td>
                <td>40.0</td>
              </tr>
              <tr>
                <td>Within Sexual Harrassment</td>
                <td style="background-color: white;">75.0</td>
                <td>25.0</td>
              </tr>
              <tr>
                <td>Within Trolling</td>
                <td style="background-color: white;">77.4</td>
                <td style="background-color: white;">22.6</td>
              </tr>
            </tbody>
        </table>
        </div>
    </div>
  </div>
</div>
<div id="trans-gephi-chart" class="container-fluid mx-auto"></div>
<!---SlidesShow-->
<div class="container-fluid mx-auto p-4">
  <div class="slide-show" style="font-family: inherit;clear: both;">
      <h5 style="color:black;background-color: #f89624;
                  width:fit-content;border-radius:4px;font-weight:normal;" 
              class="p-2 reveal fade-right">
              Slides Showing Word Networks Relating to Online Violence
      </h5>
      <p class="mb-3">
              Using word networks, we mapped out networks of words being used in replies to tweets by
              women candidates to understand the underlying themes and topics they portray. 
              The diagrams below both show that the discourse was mostly centered around the presidential election 
              with specific keywords showing up in the network of replies.  
      </p>
      </div>
      <div class="slideshow-container slide-show">
          <!-- Full-width images with number and caption text -->
          <div class="mySlides slide-fade">
              <div class="numbertext">1 / 2</div>
              <img src="{% static 'images/slide-img1.png' %}" 
                style="width:100%;background-color:#bbb;padding:1%;">
              <div class="text"><img src="{% static 'images/info-icon.png' %}" width="15">
                Word network from sexual violence<br>
                comments showing keywords and themes<br>used in the comments
              </div>
          </div>       
          <div class="mySlides slide-fade">
              <div class="numbertext">2 / 2</div>
              <img src="{% static 'images/slide-img2.png' %}" 
                style="width:100%; background-color:#bbb;padding:1%;">
              <div class="text"><img src="{% static 'images/info-icon.png' %}" width="15">
                Word network showing the most frequently<br>used words in replies to women candidates<br> 
                on Twitter
              </div>
          </div>
            <!-- Next and previous buttons -->
            <a class="slide-prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="slide-next" onclick="plusSlides(1)">&#10095;</a>
          </div>
          <br>
          <!-- The dots/circles -->
          <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span>
              <span class="dot" onclick="currentSlide(2)"></span>
          </div>
</div><!--pasting of slide ends here-->
<div class="p-3">
<p class="p-2" 
  style="background-color:#b3b3b3;width:fit-content;border-radius:6px;
      font-weight:bold;clear: both;">
   Note:
  As part of this project, a text classification model was used to classify tweets/posts 
  in various categories such as: Trolling, Sexual violence, Insults, etc. 
  <a style="color: inherit;" href="{% url 'pollicy_app:hate_speech' %}">
   This model can be tested out here!</a>
</p>
</div>
<script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
</main>
<style>
.trans-styles {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
  }

form {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
  }

.main {
  padding: 15em 0 3em;
}

.trans-header {  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 400ms cubic-bezier(.25,.37,.17,.96); 
  padding: 0;
}

/* When header is not in viewport we hide it */
.trans-header[data-scroll="out"] {
  transform: translatey(-200%);
}

/* When moving up and header we show it */
[data-scroll-dir-y="-1"] .trans-header {
  transform: translatey(100);
}

header {
  background-image: url("/static/images/byte-bullies2.jpg");
  background-repeat: repeat-x;
  background-size: contain;
}

.slide-show {
      box-sizing:border-box;
}
    
/* Slideshow container */
.slideshow-container {
      max-width: 100%;
      position: relative;
      margin: auto;
}
    
/* Hide the images by default */
.mySlides {
      display: none;
}
    
/* Next & previous buttons */
.slide-prev, .slide-next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
}
    
/* Position the "next button" to the right */
.slide-next {
      right: 0;
      border-radius: 3px 0 0 3px;
}
    
.slide-prev {
      left: 0;
      border-radius: 3px 0 0 3px;
}
    
/* On hover, add a black background color with a little bit see-through */
.slide-prev:hover, .slide-next:hover {
      background-color: rgba(0,0,0,0.8);
      color: #f89624;
      text-decoration: none;
}
    
/* Caption text */
.text {
      color:#f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: left;
}
    
/* Number text (1/2 etc) */
.numbertext {
      color: #f2f2f2;
      font-family: "DM Sans", sans-serif;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
}
    
/* The dots/bullets/indicators */
.dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
}
    
.slide-active, .dot:hover {
      background-color: #717171;
}
    
/* Fading animation */
.slide-fade {
      animation-name: fade;
      animation-duration: 1.5s;
}
    
@keyframes slide-fade {
      from {opacity: .4}
      to {opacity: 1}
}

</style>

<script>
//for the slideshow
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("myImgSlides");
    for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 4000); // Change image every 4 seconds
}

ScrollOut({
    cssProps: true,
    threshold: 0.2
  });

$(document).ready(function() {
  $.ajax({
            type: 'GET',
            url: "/rels_view/",
            data: {},
            success: function(response){
            $("#trans-gephi-chart").html(response);
            }    
        });
        return false;
    
});

let slideIndex = 1;
    showSlides(slideIndex);
    
    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" slide-active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " slide-active";
}

</script>
{% endblock %}