{% extends 'pollicy_app/base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}
| Translate Lang
{% endblock %}

{% block body_block %}
<div class="container-fluid trans-styles p-3">
<div class="p-1 mb-3">
  <img src="{% static 'images/logo.png' %}" width="150px">
</div>
<div class="text-center p-2 mb-2" 
style="background-color:#f89624;width:45%;border:1px solid #f89624;border-radius:5px;margin: auto;"
      style="background-color:white;width:100%;
    border:1px groove #f89624;border-radius:5px;">
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <h4>{% trans "Select Swahili Here and Translate:" %}</h4>
        <select name="language">
           {% get_current_language as LANGUAGE_CODE %}
           {% get_available_languages as LANGUAGES %}
           {% get_language_info_list for LANGUAGES as languages %}
           {% for language in languages %}
             <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
              {{ language.name_local }} ({{ language.code }})
             </option>
           {% endfor %}
        </select>
        <input style="font-size:14px;" 
          type="submit" value="{% trans 'Translate' %}" class="btn btn-sm btn-dark">
    </form>
</div>
<div style="background-color:#eeeeee;" class="p-2 trans-styles">
  <h5 style="background-color:white;width:fit-content;border-radius:3px;" class="p-1">
    {% trans "Introduction" %}
  </h5>
  <p class="trans-styles">
    {% trans "The malignant influence of social media, as a ubiquitous and powerful medium of communication in countries all" %} 
    {% trans " over the world, has brought about a growing era of challenges such as hate speech, online violence, fake news," %}
    {% trans " and other forms of harmful content. From the physical world to the digital realm," %} 
    {% trans " gender-based discrimination persists and thrives through malignant online practices." %}
  </p>
  <p>
    {% trans " Kenya is no exception, as online harassment targets both prominent women and everyday users." %} 
    {% trans " These harmful behaviors are becoming all too common in our online spaces, perpetuated by social, economic, cultural," %}
    {% trans " and political structures that echo through the medium of digital networks." %} 
  </p>
  <p>
    {% trans " In order to further understand these malignant practices, we conducted a comprehensive study that involved" %}
    {% trans " tracking and analyzing the online activities of over 250 women and men candidates on Twitter and Facebook during the 2022" %}
    {% trans " Kenya general elections specifically, during the campaign and election period. Our methodologies encompassed a" %} 
    {% trans " range of techniques, including lexicon-building focus group discussions, data scraping of publicly available profiles," %} 
    {% trans " qualitative data analysis, and the development of a Machine Learning model" %}
    {% trans " capable of identifying and categorizing instances of online violence and hate speech in both English and Swahili languages." %} 
  </p>
</div>
<div class="row res-obj p-4 container-fluid">
<div class="col-sm">
<h4 class="card card-title" style="border: 1px hidden #f89624;">
  {% trans "RESEARCH QUESTIONS USED TO GUIDE TOWARDS ACHIEVING THE RESEARCH OBJECTIVE" %}
</h4>
<ul class="container-fluid card card-body" style="background-color: #f5f4f4;">
    <li>
      {% trans "How do women politicians in Kenya use social media platforms for campaigning" %}      
      {% trans " during the election period?" %}
    </li>
    <li>
      {% trans "How does the use of social media platforms differ amongst men and women candidates?" %}
    </li>
    <li>
      {% trans "How does online violence against women candidates differ from that experienced" %}
      {% trans " by men in regards to factors such as the form of violence experienced and frequency" %}
      {% trans  " across platforms?" %}
    </li>
    <li>   
      {% trans "What evidence of OVAW-P exists on social media platforms and how does it manifest?" %}
    </li>
    <li>
      {% trans "What is the association between OVAW-P and factors such as their age, frequency of" %} 
      {% trans " social media use, and electoral results?" %}
    </li>
</ul>
</div>
<div class="col-sm text-center">
  <img class="geek-img" src="{% static 'images/qn-md.png' %}" width="80%">
</div>
</div>

</div>

<style>
  .trans-styles {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
  }

  form {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
  }
</style>
{% endblock %}