<body>
    Our study found that nine out of every ten (89%) accounts were used to put out at least one tweet/post 
    during the campaign period. Twitter was the most widely used platform with92% of the candidates 
     using the platform at least once during the monitoring period while Facebook had 86%. 
     There was a considerable drop in social media usage during the month of January, which is greatly 
     attributable to the internet shutdown in Uganda. In terms of gender, women were most active on 
     Facebook while men dominated usage on Twitter. At least 69% of the accounts belonging to female 
     candidates on Facebook were used at least once each week compared to the men at 47.5%. 
</body>