{% load static %}
{% block body_block %}
<div id="push-women-sm" class="container-fluid women-sm p-4" style="background-color: snow;">
    <h4 class="mb-2">
        How did women politicians in Uganda use social media 
        platforms for campaigning during scientific general elections?
    </h4>
    <div class="row container-fluid">
        <div class="col-sm jumbotron p-2">
            <p>
            Our study found that nine out of every ten (89%) accounts were used to put out at least 
            one tweet/post during the campaign period. Twitter was the most widely used platform 
            with 92% of the candidates using the platform at least once during the monitoring 
            period while Facebook had 86%. 
            </p>
            <p>
            There was a considerable drop in social media usage 
            during the month of January, which is greatly attributable to the internet shutdown in Uganda. 
            In terms of gender, women were most active on Facebook while men dominated usage on Twitter.
            </p>
            <p> 
            At least 69% of the accounts belonging to female candidates 
            on Facebook were used at least once each week compared to the men at 47.5%.
            </p>
        </div>
        <div class="col-sm p-2 text-center" style="width:100%;max-width:750px;">
            <canvas id="myBarGraph"></canvas>
        <span class="p-2">
            <!--
                <button class="btn btn-sm btn-secondary my-btn">
                <i class='fas fa-sync'></i>
                Switch</button>
            -->
        </span>
        </div>
    </div>
</div>
{% endblock %}