{% load static %}
{% block body_block %}
<div id="push-women-sm" class="container-fluid women-sm p-4" style="background-color: white;">
    <h4 class="mb-2">
        How did women politicians in Kenya use social media 
        platforms for campaigning during scientific general elections?
    </h4>
    <div class="row container-fluid">
        <div class="col-sm jumbotron p-6">
            <p>
                Facebook usage was generally higher across the men candidates with 93.8 percent of the accounts 
                belonging to the men candidates being used at least once a week compared to the women candidates at 
                80 percent. 
            <br>
                On Twitter, 51 percent of the women candidates used their account at least once a week 
                compared to their male counterparts at 56 percent.
            </p>
        </div>
        <div class="col-sm p-2 text-center" style="width:100%;max-width:750px;height:350px;">
            <canvas id="myBarGraph"></canvas>
        <p class="p-2">
            <!--
                <button class="btn btn-sm btn-secondary my-btn">
                <i class='fas fa-sync'></i>
                Switch</button>
            -->
        </p>
        </div>
    </div>
</div>
{% endblock %}