/* custom styles for project */
div.intro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

div.res-obj {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(252, 211, 211);
}

.res-obj h4 {
    color: maroon;
    background-color: lightsteelblue;
    padding: 2px;
}

div.key-finding {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: antiquewhite;
}

.key-finding h4 {
    color: white;
    background-color: darkgray;
    padding: 2px;
}

.women-sm h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(9, 133, 46);
    text-transform: capitalize;
}

.card-hstyle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(152, 156, 155);
    padding: 1px;
    font-size: 15px;
    font-style: oblique;
}

.geek-img:hover {
    transform: scale(1.05);
}

.women-sm div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}