/* custom styles for project */
div.intro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

div.res-ob {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(255, 215, 215);
}

.res-ob h4 {
    color: darkcyan;
    background-color: rgb(255, 225, 170);
    padding: 2px;
}
