  html, body {
  height: 100%;
  margin: 0;
  }

  .typo-div {
  height: 100%;
  width: 100%;
  background-color: rgb(5, 5, 119);
  border-top: 1.5px solid darkorange;
  border-left: 1.5px solid darkorange;
  border-right: 1.5px solid black;
  border-bottom: 1.5px solid black;
  }

  .output {
    text-align: center;
    font-family: "Source Code Pro", monospace;
    color: white;
    background-color: rgb(5, 5, 119);
  }

  div.logo {
    background-color: inherit;
    padding: 10px;
    margin-left: 0px;
  }

  div.output {
    background-color: inherit;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .typo-header {
    font-size: 45px;
    color: rgb(211, 48, 48);
  }
  
  p.typo {
    font-size: 30px;
    margin-top: 7px;
    margin-bottom: 0;
  }

  span.typo {
    font-size: 30px;
    margin-top: 0;
  }

  @media only screen and (min-width: 320px) and (max-width: 479px) {
        /* for typical mobile devices */
        .typo-header {
          font-size: 18px;
        }
        p.typo {
          font-size: 14px;
        }
        span.typo {
          font-size: 14px;
        }
  }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
        /* for mobile landscape */
        .typo-header {
          font-size: 20px;
        }
        p.typo {
          font-size: 15px;
        }
        span.typo {
          font-size: 15px;
        }
  }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
        /* for tablet */
        .typo-header {
          font-size: 26px;
        }
        p.typo {
          font-size: 20px;
        }
        span.typo {
          font-size: 20px;
        }
  }
  
  @media only screen and (min-width: 980px) and (max-width: 1023px) {
        /* for small desktop */
        .typo-header {
          font-size: 30px;
        }
        p.typo {
          font-size: 24px;
        }
        span.typo {
          font-size: 24px;
        }  
  }

  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
        /* for typical desktop */
        .typo-header {
          font-size: 40px;
        }
        p.typo {
          font-size: 26px;
        }
        span.typo {
          font-size: 26px;
        }
  }

  @media only screen and (min-width: 1200px) {
        /* for large desktop */
        .typo-header {
          font-size: 48px;
        }
        p.typo {
          font-size: 30px;
        }
        span.typo {
          font-size: 30px;
        }
  }
  
  .scroll-div {
    padding: 3%;
  }

  .index-content {
    margin-top: 5px;
  }