  html, body {
  height: 100%;
  margin: 0;
  }

  .typo-div {
  height: 100%;
  width: 100%;
  background-image: url("/static/images/pexels.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 1.5px solid black;
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;
  border-bottom: 1.5px solid black;
  }

  .output {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    color: white;

  }

  div.logo {
    background-color: rgb(0, 0, 0);
    border: 2.5px groove black;
    border-radius: 6px;
    padding: 6px;
    width:fit-content;
    margin-left: 4px;
    margin-top: 10px;
  }

  div.output {
    background-color: inherit;
    /*padding-top: 4.5%;*/
    padding-left: 5%;
    padding-right: 5%;
  }

  .typo-header {
    color: #f89624;
    font-weight: bold;
  }
  
  p.typo {
    font-size: 30px;
    margin-top: 4.5px;
    margin-bottom: 0;
  }

  span.typo {
    font-size: 30px;
    margin-top: 1px;
    
  }

  @media only screen and (min-width: 320px) and (max-width: 479px) {
        /* for typical mobile devices */
        .typo-header {
          font-size: 22px;
        }
        p.typo {
          font-size: 16px;
        }
        span.typo {
          font-size: 16px;
        }
        div.output {
          padding-top: 2.5% !important;
        }
  }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
        /* for mobile landscape */
        .typo-header {
          font-size: 20px;
        }
        p.typo {
          font-size: 15px;
        }
        span.typo {
          font-size: 15px;
        }
        div.output {
          padding-top: 2.5% !important;
        }
  }

  @media only screen and (min-width: 768px) and (max-width: 979px) {
        /* for tablet */
        .typo-header {
          font-size: 24px;
        }
        p.typo {
          font-size: 20px;
        }
        span.typo {
          font-size: 20px;
        }
        div.output {
          padding-top: 15% !important;
        }
  }
  
  @media only screen and (min-width: 980px) and (max-width: 1023px) {
        /* for small desktop */
        .typo-header {
          font-size: 28px;
        }
        p.typo {
          font-size: 22px;
        }
        span.typo {
          font-size: 22px;
        }
        div.output {
          padding-top: 7% !important;
        }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
        /* for typical desktop */
        .typo-header {
          font-size: 40px;
        }
        p.typo {
          font-size: 28px;
        }
        span.typo {
          font-size: 28px;
        }
        div.output {
          padding-top: 8.5% !important;
        }
  }

  @media only screen and (min-width: 1200px) {
        /* for large desktop */
        .typo-header {
          font-size: 40px;
        }
        p.typo {
          font-size: 28px;
        }
        span.typo {
          font-size: 28px;
        }
        div.output {
          padding-top: 10.5% !important;
        }
  }

 /* @media screen and (max-device-width: 767px) and (orientation: landscape) {
    .typo-header {
          font-size: 16px;
        }
        p.typo {
          font-size: 14px;
        }
        span.typo {
          font-size: 14px;
        }
}
*/
  
  @media only screen and (min-width: 1200px) and (orientation : portrait) {
      .typo-header {
          font-size: 45px;
        }
        p.typo {
          font-size: 30px;
        }
        span.typo {
          font-size: 28px;
        }
        div.output {
          padding-top: 12.5% !important;
        }
    
  }
  
  
  .scroll-div {
    padding: 3%;
  }

  .index-content {
    margin-top: 5px;
  }